body, h1, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/*.global {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF; /* Blue color for the header */
}

.Diagram {
    display: block;
    max-width: 75%;
    height: auto;
    margin: 0 auto 20px;
    float: right
}

.description {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
    color: #666;
}

.instruction {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    float: bottom
}

.links a {
    text-decoration: none;
    color: #007BFF;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #007BFF;
    transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
    background-color: #007BFF;
    color: #fff;
}